:root{
    --vermelho: #E50914;
    --preto: #141414;
    --cinza: #cacbcb;
    --branco: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*elementos base*/
body{
    background: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container{
    display: flex;
    flex-direction: row; /*default*/
    align-items: center;
    justify-content: space-between;
    
}

header .logo{
    color: var(--vermelho);
    font-family: 'Arial Black';
    font-size: 40px;
    margin-left: 5px;
}

header nav{
    margin-right: 5px;
}

header nav a{
    text-decoration: none;
    color: var(--cinza);
    margin-right: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header nav a:hover{
    color: var(--branco);
}

/*filme principal*/
main .filme-principal{
    font-size: 18px;
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50) 100%), url(../img/metallica-capa.jpg);
    
    background-size: cover;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 500px;
}

.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.filme-principal .titulo{
    margin-top: 22%;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 16px;
    cursor: pointer;
    transition: .3s ease all;
    font-family: Arial, Helvetica, sans-serif;
}

.botao:hover{
    background-color: white;
    color: black;
}

.botao i{
    margin-right: 8px;
}

.container{
    margin-left: 20px;
}

.filme-principal .container{
    width: 70%;
}

.box-shows{
    height: 400px;
    display: block;
}

.pag-video .container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

main .info-show{
    font-size: 18px;
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50) 100%), url(../img/info-capa.jpg);

    height: 560px;
    background-size: cover;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.info-show .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.info-show .titulo{
    margin-top: 6%;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}